<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{/fragments/head}"></th:block>
    <title>Task Discussion</title>
</head>

<body class="img-background">
<header>
    <th:block th:insert="~{/fragments/navbar}"></th:block>

</header>

<div
        class="container bg-container-my w-75 text-center my-margin-top">
    <div class="container w-100" th:object="${taskView}">
        <h2 th:text="|${allPostsByTaskId.size()}${allPostsByTaskId.size() <= 1 ? ' Post' : ' Posts'} related to Task with ID: *{id}|">
            All Posts related to Task: </h2>
        <h4 th:text="|Task description: |"></h4>
        <h5 th:text="*{description}"></h5>
    </div>

    <hr>
    <div class="row row-card d-flex justify-content-evenly">
        <div
                class="col-6 d-grid justify-content-evenly"
                th:each="post : ${allPostsByTaskId}"
        >
            <div class="card my-card" style="width: 30rem;">
                <div class="card-body">
                    <div class="">
                        <h3 class="card-title" th:text="|Post: ${post.title}|">Post title</h3>
                        <hr>
                        <h5 class="card-title" th:text="|Task: ${post.task.title}|">Task title</h5>
                        <strong th:text="|Created by: ${post.creatorName.toUpperCase()}|">creator name</strong>
                        <date th:text="|Created date: ${#temporals.format(post.createdDate, 'dd-MM-yyyy HH:mm:ss')}|">
                            date
                            created
                        </date>
                        <hr>
                        <a th:href="@{/users/comments/to-post/{postId}(postId=${post.id})}"
                           class="btn btn-admin-details mt-1">View Comments</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a th:href="@{/users/tasks/all}" class="btn btn-admin-neutral mt-3">Go Back</a>
            <a th:href="@{/users/posts/create-new-post-to-task/{taskId}(taskId=${taskId})}"
               class="btn btn-admin-update mt-3">Add Post</a>
        </div>
    </div>
</div>

<footer class="footer bg-transparent mt-5 fixed-bottom">
    <th:block th:insert="~{/fragments/footer}"></th:block>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
</script>
</body>

</html>